body{
    background-color:white;
    display: flex;
    place-items:center;
    min-height: 100vh;
}

body{
    background-color:rgb(224, 215, 215);
}

main{
    display:grid;
    grid-template-areas: 
    'a a b '
    'c d d '
    'c d d '
    'c e e'
    ;

    gap: 10px;
    
    margin:auto;
    width:30%;

}

main div{
    padding:2em;
    text-align: center;
    border-radius: 0;
}
.item1{
    background-color: rgb(255, 0, 0);
    grid-area: a;

}

.item2{
    background-color:rgb(255, 166, 0);
    grid-area: b;
}

.item3{
    background-color: green;
    grid-area: c;
}

.item4{
    background-color: blue;
    grid-area: d;
}

.item5{
    background-color:blue;
    grid-area: e;
}